*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Times New Roman', Times, serif;
}
ul{
    list-style-type: none;
}
.navbar{
    background-color: #1f2937;
    color: #fff;
    height: 50px;
    padding: 30px;
}
.navbar a:hover{
    color: lightblue;
}
.navbar .container{
    padding: 0px 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.nav li a{
    margin: 2px;
    text-decoration: none;
    color: #fff;
}
.header{
    padding: 30px;
    background-color: #4f0f0f;
    color: #fff;
    min-height: 300px;
}
.header h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 6px;
}
.header p{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 2px;
    
}
.header button{
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 10px 40px;
    text-align: center;
    margin: 4px 4px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 18px;

}
.header button:hover{
    color: wheat;
}
.header img{
    max-width: 500px;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.section2{
    min-height: 300px;
    background-color: #1f2937;
    color: #fff;
}
.section2 div{
    height: 100%;
}
.section2 h1{
    text-align: center;
    padding: 16px;
}

.section2 .boxes{
    display: flex;
    height: 100%;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}
.boxes img{
    max-width: 200px;
    max-height: 200px;
}
.boxes p{
    font-size: 15px;
    text-align: center;
}

.quote {
    min-height: 300px;
    background-color: #ebdbdb;

}
.quote div{
    padding: 100px 80px;
    min-height: 300px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quote h1{
    font-size: 36px;
    font-style: italic;
    margin-bottom: 8px;
    align-self: center;
}
.quote h3{
    align-self: flex-end;
}

.section3{
    display: flex;
    min-height: 300px;
    background-color: #e5e7eb;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
}
.section3 .box{
    display: flex;
    width: 900px;
    height: 150px;
    padding: 60px;
    border-radius: 25px;
    background-color: #3882f6;
    justify-content: space-around;
}
.section3 h2{
    color: #fff;
    font-size: 20px;
    margin-bottom: 4px;
}
.section3 h3{
    color: #e5e7eb;
}
.section3 .text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 20px;
}
.section3 button{
    display: flex;
    align-items: center;
    background-color: #3882f6;
    color: #fff;
    border: solid white;
    padding: 15px 32px;
    font-size: 12px;
    border-radius: 12px;
}

.footer{
    display: flex;
    min-height: 30px;
    background-color: #4f0f0f;
    color: #fff;
    justify-content: center;
}

